 * {
 	margin: 0;
 	padding: 0;
 	border:0;
 	box-sizing: border-box;
 }

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.container {
	max-width: 1160px;
	margin: 0 auto;
}

 /*header start*/

 .header {
 	position: fixed;
 	top: 10px;
 	width: 100%;
}
.container {

}
.header__body {
	display: flex;
	align-items: center;
	max-width: 1125px;
}

.logo {
	width: 79px;
	height: 79px;
}

.header__menu {
	margin-left: 266px;
}

.menu__list {
	display: flex;
	align-items: center;
	margin: 0 -20px;	
}

.menu__item {
	padding: 0 20px;
}

.menu__link {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #150101;
	opacity: 0.6;
}
	
.menu__link_active {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	color: #D23166;
	opacity: 1;
}

.header__button {
	margin-left: auto;
}
.button {
	width: 165px;
	height: 49px;
	background: #D23166;
	border-radius: 5px;
	font-family: 'Hind Madurai',sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #FAFAFA;
	padding: 14px 0;	
	text-align: center;
	display: inline-block;
}

/*header end*/


/*main start*/

.info {
	padding: 159px 0 65px 0;
	background-color: #ffedf3;
}

.info__body {
	display: flex;
	align-items: center;
}

.info__offer {
	flex: 0 1 665px;
}

.info__small-text {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.1em;
	color: #0F0101;
	margin-bottom: 6px;
}

.info__title {
	font-family: 'Fredoka One', sans-serif;
	font-weight: 400;
	font-size: 57.33px;
	line-height: 120.5%;
	color: #0F0101;
	opacity: 0.9;
	margin-bottom: 35px;
}

.info__title_pink {
	color: #D23166;
}

.info__text {
	font-family: 'Hind Madurai', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #0F0101;
	opacity: 0.6;
	margin-bottom: 50px;
	max-width: 523px;
}

.info__decoration {
	max-width: 509px;
	height: auto;
}

/*main end*/

