 * {
 	margin: 0;
 	padding: 0;
 	border:0;
 	box-sizing: border-box;
 }

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.container {
	max-width: 1125px;
	margin: 0 auto;
}

 .header {
 	position: fixed;
 	top: 10px;
 	width: 100%;
}
.container {

}
.header__body {
	display: flex;
	align-items: center;
}

.header__logo {
	width: 79px;
	height: 79px;
}

.header__menu {
	margin-left: 266px;
}

.menu__list {
	display: flex;
	align-items: center;
	margin: 0 -20px;	
}

.menu__link {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #150101;
	opacity: 0.6;
	padding: 0 20px;
}

.menu__link a {
	color: #150101;
}
	
.menu__link_active {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	color: #D23166;
	opacity: 1;
}

.menu__link_active a {
	color: #D23166;
}


.header__button {
	margin-left: auto;
}
.button {
	width: 165px;
	height: 49px;
	background: #D23166;
	border-radius: 5px;
	font-family: 'Hind Madurai',sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #FAFAFA;
	padding: 14px 0;	
	text-align: center;
	display: inline-block;
}





/* * {
 	margin: 0;
 	padding: 0;
 	border:0;
 	box-sizing: border-box;
 }

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.container {
	max-width: 1125px;
	margin: 0 auto;
}

 .header {
 	position: fixed;
 	top: 10px;
 	width: 100%;
}
.container {

}
.header__body {
	display: flex;
	align-items: center;
}
.header__logo {
	
}
.logo {
	width: 79px;
	height: 79px;
				/* здесь мы ограничили картинку по размерам,
					 также если мы не пропишем внизу к картинке max-width: 100%; то
					 контент сломается если мы вставим картинку больше 79 пикселей*/
}

.logo img {
	max-width: 100%;  это мы прописали для того
	 					  чтобы картинка больше 79 пикселей
	  						вместилась в шапку сайта(если мы фото поменяем),
	   							если не пропишем этот контент сломается
	   							так как картинка больше 79 пикселей  
}

.header__menu {
	margin-left: 266px;
}
.menu {
	
}

.menu__list {
	display: flex;
	align-items: center;
	margin: 0 -20px;	
}

.menu__link {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #150101;
	opacity: 0.6;
	padding: 0 20px;
}

.menu__link a {
	color: #150101;
}
	
.menu__link_active {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	color: #D23166;
	opacity: 1;
}

.menu__link_active a {
	color: #D23166;
}


.header__button {
	margin-left: auto;
}
.button {
	width: 165px;
	height: 49px;
	background: #D23166;
	border-radius: 5px;
	font-family: 'Hind Madurai',sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #FAFAFA;
	padding: 14px 0;	
	text-align: center;
}*/
